body{
	background: #fff;
}

$txt-color: black;

h1 {
	text-align: center;
}
h2{
	color: blue;
	// font-size: 20px;
}

h3{
	color: green;
}

.mydivclass {
	max-height: 345px;
	padding-bottom: 30px;
}

.mydivclass h2 {
	font-size: 20px;
}
